/* comments like this */

/* generic selector */

body {
    margin: 0;
    /* margins
    margin (4): top right bottom left;
    margin (3): top left/right bottom;
    margin (2): top/bottom left/right;
    margin (1): all;
    margin: auto; automatically centers element*/
    background-color: #faf9f9;
    color: #89b0ae;
    /*text color*/
    font-family: Arial, sans-serif;
}

a {
    color: #e89879;
    text-decoration: none; /*removes the underline from links*/
}

ul {
    margin: 0;
    /*the space on the top/bottom of the ul*/
    padding: 0;
    /*the space on the left of the ul*/
}

li {
    list-style: none;
    /*removes bullet points*/
}

/*psuedo selector- user interaction*/
a:hover {
    color: #d96f55;
    transition: 0.3s ease-in;
    /*makes it smooth instead of instant*/
}

a:active {
    color: #c9251c;
    transition: none;
}

img {
    width: 100%;
    max-width: 100%;
    /* the picture will never blow up past its dimensions*/
}

/*id and class selector*/

/* #idName */
#container {
    /*background-color: dimgrey;*/
}

#header {
    /* COLOR background-color: salmon;*/
    
    background-color: #bee3db;
    text-align: center;
}

#header h1 {
    margin: 0%;
    padding: 3%;
    font-size: 4em;
    
}

#header ul {
    margin: 0px auto 5%;
    padding: 10px;
    background-color: #ffd6ba;
}

#header li {
    display: inline;
    margin-left: 1em;
    /*em means relative to font-size. 1 em = the size of the current font, 2 em = 2x the size of the current font, etc. default font size is 16*/
}

#header a {
    font-size: 1.2em;
}

#portfolio {
    /* COLOR background-color: aquamarine;*/

    margin: 5%;
    display: grid;
    /*makes a grid. grid paramaters must be defined*/
    grid-template-columns: 1fr 1fr 1fr;
    /*fr is the fractional unit, it divides the space up evenly.*/
    grid-template-rows: 1fr 1fr 1fr;
    /*i have a 3x3 grid*/
    grid-gap: 1em;
    text-align: center;
}

#portfolio img {
    max-width: 100%;
    display: flex;
    margin: auto;
}


/*.className { }*/
.project {
    /* COLOR background-color: darkseagreen;*/
    background-color: #bee3db;
    
    padding: .5em;
    transition: background-color 0.5s;
}

.project:hover {
    /* COLOR background-color: yellow;*/
    
    background-color: #89b0ae;
    transition: color  0.5s;
    color: #bee3db;
} 

.project:hover a{
    transition: color  0.5s;
    color: #fcbda4;
}

.project a {
    font-size: 1.3em;
}

.project a:hover{
    color: #fab9a0;
}






/*------------------------------------------------------------------------ABOUT PAGE------------------------------------------------------------------------*/

#about img{
    max-width: auto;
    max-height: auto;
}
#about {
    /* COLOR background-color: darkorchid;*/
    
    width: 50%; 
    max-width: 500px;
    max-height: 5%;
    float: right;
    margin: 4% 5%;
    padding: 1% 1% 1% 1%;
    border: 2px solid #89b0ae;
    text-align: center;
    color: #6F868E;
    align-items: center;
    background-color: #bee3db;
}

#about p{
    align-content: center;
    text-align: center;
    padding: 0;
    margin: auto;
    max-width: 448px;
    
}

#abouttext {
    /* COLOR background-color: aqua;*/
    color: #6F868E;
    
    padding: 2% 5%;

}#abouttext p{
    /* COLOR background-color: beige;*/
    
    padding-bottom: 2%
}